@inject IJSRuntime JsRuntime
@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="grid-container">
    <div class="grid-item">
        <input type="range" @bind-value="@Cubic1.Dimension.X" min="1" max="10"/>
        <br/>
        <input type="range" @bind-value="@Cubic1.Dimension.Y" min="1" max="10"/>
        <br/>
        <input type="range" @bind-value="@Cubic1.Dimension.Z" min="1" max="10"/>
        <br/>
        <input type="range" @bind-value="@Cubic1.Center.X" min="-5" max="5"/>
        <br/>
        <input type="range" @bind-value="@Cubic1.Center.Y" min="-5" max="5"/>
        <br/>
        <input type="range" @bind-value="@Cubic1.Center.Z" min="-5" max="5"/>
        <br/>
    </div>
    <div class="grid-item">
        <input type="range" @bind-value="@Cubic2.Dimension.X" min="1" max="10"/>
        <br/>
        <input type="range" @bind-value="@Cubic2.Dimension.Y" min="1" max="10"/>
        <br/>
        <input type="range" @bind-value="@Cubic2.Dimension.Z" min="1" max="10"/>
        <br/>
        <input type="range" @bind-value="@Cubic2.Center.X" min="-5" max="5"/>
        <br/>
        <input type="range" @bind-value="@Cubic2.Center.Y" min="-5" max="5"/>
        <br/>
        <input type="range" @bind-value="@Cubic2.Center.Z" min="-5" max="5"/>
        <br/>
    </div>
    <canvas id="myCanvas"></canvas>
</div>